@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-300%);
    }
}
@keyframes scrollmedium {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-300%);
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translateY(-700%);
    }

    100% {
        transform: translateY(100%);
    }
}

.animate-scroll {
    animation: scroll 40s ease-in infinite;
}

.animate-scroll-reverse {
    animation: scroll-reverse 80s ease-in infinite;
}

.opacity-top::before,
.opacity-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3.5rem;
    /* h-10 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    z-index: 10;
}

.opacity-top::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}

.opacity-bottom::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}